.jumbotron {
    border: 1px solid #E5E5E5;
}

.jumbotron h1 {
    font-size: 64pt;
}

.jumbotron p.lead {
    font-size: 30pt;
}

div#content {
    margin-bottom: 25px;
}

div#content h2 {
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
}

div#content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}

.caption {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.link-block {
    display: block;
    border-left: 5px solid #E5E5E5;
    padding-left: 15px;
}

.link-block h3 {
    font-size: 18pt;
}

.jumbotron {
    border: 1px solid #E5E5E5;
}

.jumbotron h1 {
    font-size: 64pt;
}

.jumbotron p.lead {
    font-size: 30pt;
}

.section-header {
    font-size: 24pt;
}

span.header-section-number {
    font-size: 24pt;
}

figure {
    display: inline;
    text-align: center;
}

blockquote, blockquote cite {
    width: 100%;
    text-align: center;
    font-style: italic;
}

/* Use Merriweather by default for p tags */
p {
  font-feature-settings: "liga", "onum", "kern";
  font-family: "Merriweather",serif;
  }

a {
  color: #333333;
  text-decoration: none;
  background-image: linear-gradient(to top,
    rgba(0,0,0,0) 11%,
    rgba(0,0,0,.5) 11%,
    rgba(0,0,0,.5) 16%,
    rgba(0,0,0,0) 16%
    );
}

a:hover {
    color: #333333;
    text-decoration: none;
    background-image: none;
}

li a {
  text-decoration: none;
  background-image: none;
}

li a:hover {
    text-decoration: underline;
}

div#toc-wrapper ul {
    border-left: 1px solid #b9b9b9;
}
